<h1>登陆页面</h1>
<%= form_for (@user) do |f| %>
       <div class="name">
          <%= f.label :email %>
         <%= f.text_field  :email %>
       </div>
        <div class="password">
            <%= f.label :password %>
         <%= f.text_field  :password %>
        </div>
    <div class="action">
      <%= f.submit "注册" %>
    </div>
<% end %>