<div class="clearfix" id="mainContent">

<div id="mainLeft" class="left">
	
</div>

<div id="mainIndex" class="left">
<div id="mainContain">
<div class="logo">
    <span class="bold logoFirstWord">享</span>·书网
</div>
  <div class="subLogo">
        － 享受读书的乐趣
  </div>
  <div class="login">
  <%= form_for("user", :url => user_session_path) do |f| %>
        <div class="clearfix">
        <div class="left">
        <%= f.label :email ,"帐号" %>
        <%= f.text_field :email ,:placeholder => "输入帐号" %>
          <div class="rememberMe">
          <%= f.check_box :remember_me %>
        <%= f.label :remember_me ,"记住我"  %>
            </div>
          </div>
        <div class="right">
        <%= f.label :password ,"密码" %>
        <%= f.password_field :password ,:placeholder => "输入密码" %>
          <div class="forgetPwd">
          <%= link_to "忘记密码?", new_password_path('user') %>
            </div>
          </div>
          </div>

        <div class="submit">
        <%= f.submit '登录' ,:class=>"submitButton"%>
          </div>

<% end %>
  </div>
</div>

<button id="leftSlide" class="sexybutton">
  <span><span><span class="leftSide">网站简介</span></span></span>
</button>
<button id="rightSlide" class="sexybutton">
  <span><span><span class="rightSide">网站简介</span></span></span>
</button>
<button id="register" class="sexybutton">
  <span><span><span class="registerButton">注册</span></span></span>
</button>
</div>



<div id="mainRight" class="left">
	
</div>


</div>

<div id="mainRegister" style="background:yellow;" class="hide">
	zhuceye
</div>