<!DOCTYPE html>
<html>
<head>
  <title>享书网</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless notice.blank? %>
 <span class="notice"><%= notice %></span>
<% end %>
<%= yield %>
</body>
</html>
